@import url('https://fonts.googleapis.com/css2?family=Kalam&family=Vollkorn:wght@500&display=swap');

:root{
    --black:#000000;
    --white:#ffffff;
    --darkbrown:#3c1518;
    --brown:#69140e;
    --lightbrown:#a44200;
    --lightbrownn:#fbc488;
}
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    background-color: var(--lightbrownn);
    padding: 20px;
}
h1{
    text-align: center;
    color: var(--darkbrown);
    font-size: 40px;
    font-family: 'Kalam', cursive;
}
h2,h3{
    color: var(--lightbrown);
    text-align: center;
    font-size: 30px;
}
h3{
    font-size: 15px;
}
.navbar{
    text-align: center;
}
.navbar button{
    padding: 5px 10px;
    font-size: 20px;
    font-family: 'Vollkorn', serif;
    letter-spacing: 2px;
    background-color: var(--darkbrown);
    color: var(--lightbrownn);
    border-radius: 10px;
    transition-duration: 1s;
    margin: 20px;
    width: 120px;
}
.navbar button:hover{
    background-color: var(--lightbrownn);
    color: var(--darkbrown);
    box-shadow: 2px 2px 1px 1px var(--darkbrown);
}
.main{
    display: flex;
    justify-content: space-between;
}
.left-side, .right-side{
    background-color: var(--darkbrown);
    color: var(--lightbrownn);
    padding: 20px;
    width: 250px;
    border-radius: 10px;
    height: fit-content;
}
.left-side p, .right-side p{
    margin-bottom: 20px;
    font-size: 25px;
    text-decoration: underline var(--lightbrownn);
    font-family: 'Vollkorn', serif; 
}
.left-side ul, .right-side ul{
    font-size: 18px;
    font-family: sans-serif;
    padding-left: 25px;
}
.left-side li, .right-side li{
    margin-bottom: 15px;
}
.index{
    width: 800px;
}
.mail{
    background-color: var(--white);
    padding: 8px;
    border-bottom: solid 1px var(--lightbrown);
}
.name, .subject, .time{
    display: inline-block;
}
.name{
    width: 180px;
}
.subject{
    width: 480px;
}
.time{
    width: 80px;
}
.mail button{
    border: none;
    outline: none;
    font-size: 18px;
    color: red;
    font-weight: 900;
}
.compose{
    display: none;
    border: 2px solid var(--darkbrown);
    width: 780px;
    padding: 40px;
}
label{
    font-size: 20px;
    font-weight: 900;
}
input{
    width: 670px;
    height: 25px;
    margin: 5px;
}
#submit{
    width: 100px;
    height: 50px;
    font-size: 20px;
    padding: 10px;
    margin-left: 590px;
    margin-top: 20px;
    outline: none;
    background-color: var(--darkbrown);
    border: none;
    color: var(--lightbrownn);
    font-weight: 900;
    border-radius: 20px;
    font-family: 'Vollkorn', serif;
    letter-spacing: 2px;
}